@(id: Long, feedbackForm: Form[Feedback])

@import helper._

@main {
    
    <h1>Enviar Feedback</h1>
    
    @form(routes.Application.atualizarFeedback(id)) {
        
        <div class="alert-message warning">
            <strong>Pergunta</strong> @feedbackForm("pergunta").value()
        </div>

        <fieldset>
            @inputText(feedbackForm("resposta"), '_label -> "resposta")
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Enviar Feedback" class="btn primary"> or 
            <a href="@routes.Application.listaFeedback()" class="btn">Cancelar</a> 
        </div>
        
    }
    
}
