@(currentPage: com.avaje.ebean.Page[Treinamento], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.listaTreinamento(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {
    
    <h1 id="homeTitle">@Messages("Treinamentos encontrados", currentPage.getTotalRowCount)</h1>
    <!-- <h1 id="homeTitle">@Messages("computers.list.title", currentPage.getTotalRowCount)</h1> -->

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Pronto!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
        
        <form action="@link(0, "nome")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrar pelo nome do treino...">
            <input type="submit" id="searchsubmit" value="Filtrar pelo nome" class="btn primary">
        </form>
        
            <a class="btn success" id="add" href="@routes.Application.criarTreinamento()">Adicionar novo Treinamento</a>
        <!--
        -->
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nada para mostrar</em>
        </div>
        
    } else {
        
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("nome", "Nome")
                    @header("descricao", "Descricao")
                    @header("aprovado", "Aprovado")
                </tr>
            </thead>
            <tbody>

                @for(treinamento <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Application.editarTreinamento(treinamento.id)">@treinamento.nome</a></td>
                        <!-- <td><a href="#">@treinamento.nome</a></td> -->
                        <td>
                            @if(treinamento.nome == null) {
                                <em>-</em>
                            } else {
                                @treinamento.descricao
                            }
                        </td>
                        <td>
                            @if(treinamento.aprovado == true) {
                                <em> Aprovado </em>
                            } else {
                                <em> Pendente </em>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="current">
                    <a>Exibindo @currentPage.getDisplayXtoYofZ(" ate "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Proximo &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Proximo &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            