@(id: Long, computerForm: Form[Treinamento])

@import helper._

@main {
    
    <h1>Editar Treinamento</h1>
    
    @form(routes.Application.atualizarTreinamento(id)) {
        
        <fieldset>
        
            @inputText(computerForm("nome"), '_label -> "nome")
            @inputText(computerForm("descricao"), '_label -> "descricao")
            @inputText(computerForm("aprovado"), '_label -> "Aprovado")
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Salvar este Treinamento" class="btn primary"> or 
            <a href="@routes.Application.listaTreinamento()" class="btn">Cancelar</a> 
        </div>
        
    }
    
    @form(routes.Application.removerTreinamento(id), 'class -> "topRight") {
        <input type="submit" value="Remover este Treinamento" class="btn danger">
    }
    
}
