@(treinamentoForm: Form[Treinamento])

@import helper._

@main {
    
    <h1>Adicionar um treinamento</h1>
    
    @form(routes.Application.salvarTreinamento()) {
        
        <fieldset>
        
            @inputText(treinamentoForm("nome"), '_label -> "Nome")
            @inputText(treinamentoForm("descricao"), '_label -> "Descricao")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this treinamento" class="btn primary"> or 
            <a href="@routes.Application.listaTreinamento()" class="btn">Cancel</a>
        </div>
    }
    
}